.measurement-section {
  padding-top: 40px;
  padding-bottom: 20px;
}

.measurement-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the entire content */
  width: 100%;
}

.box-pair {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 80%; /* Adjust width to ensure it's centered */
  padding-top: 15px;
  max-width: 1200px; /* Set a maximum width for the box-pair */
  margin-left: auto;
  margin-right: auto;
}

/* Slider Boxes */
.slider-box {
  background-color: rgba(230, 57, 70, 0.1); /* Transparent shade of #e63946 */
  padding: 15px;
  border-radius: 5px;
  flex: 2.5; /* Use equal flex values to balance width */
  margin-right: 20px; /* Space between box and info */
}

.variable-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.slider {
  width: 95%; /* Reduced width to ensure it stays within the box */
  padding: 10px;
  margin-top: 5px;
}

.slider-value {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #e63946;
}

/* Right Side: Information Boxes */
.info-box {
  flex: 1.5; /* Use equal flex values to balance width */
}

.info-box h3 {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  margin-bottom: 5px;
}

.info-box p {
  font-size: 14px;
  color: #333;
}
